<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--instalando o bootstrap para uso na aplicação-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<title>Test de bootstrap</title>
</head>
<body>
	<br><br>
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item">
			<!--criando o cabeçalho da agenda-->
			<a href="#pago" class="nav-link active" data-toggle="tab">Lista de Alunos</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="pago" class="container tab-pane active"><br>
			<h3>Agenda</h3>
			<table class="table table-striped">
      <thead>
				<!--primeira linha da tabela referente ao cabeçalho-->
				<tr>
					<th>Nome</th>
					<th>RU</th>
					<th>Curso</th>
					<th>Data de Nascimento</th>
				</tr>
      </thead>
				<!--adicionando os alunos na tabela-->
      <tbody>
				<tr *ngFor="let aluno of alunos">
					<td>{{ aluno.nome }}</td>
					<td>{{ aluno.ru }}</td>
					<td>{{ aluno.curso}}</td>
					<td>{{ aluno.data }}</td>
				</tr>
      </tbody>
			</table>
		</div>
	</div>
</body>
</html>
